<header>

            <!-- Mobil-ikon för menyn -->
            <div class="icon-container" id="menu-icon">
                <!-- Logga -->
                <img class="logo" src="images/logo.png" alt="">
                <i class="fa-solid fa-bars fa-lg" id="nav-icon"></i>
            </div>
            
            <!-- Menyn Mobil-->
            <div class="nav-container" id="nav">
                <!-- Navigering -->
                <nav class="nav-mobile">
                    <ul class="nav-list-mobile">
                        <li>
                            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="tidsbokning">
                                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tidsbokning
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="priser">
                                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Priser
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="avboka">
                                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Avboka
                            </NavLink>
                        </li>
                        <li><a href="#">Om oss</a></li>
                    </ul>
                    <!-- <button>Logga in</button> -->
                </nav>
            </div>
            
            <!-- Menyn Desktop-->
            <div class="nav-desktop">
                <img class="logo" src="images/logo.png" alt="">
                <!-- Navigering -->
                <nav class="nav">
                    <ul class="nav-list">
                        <li>
                            <NavLink class="nav-link" href="tidsbokning">
                                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tidsbokning
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="priser">
                                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Priser
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="avboka">
                                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Avboka
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="omoss">
                                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Om oss
                            </NavLink>
                        </li>
                    </ul>
                    <!-- <button>Logga in</button> -->
                </nav>
            </div>
      
        <!-- Header bilden -->
        <img class="header-img" src="images/header.png" alt="">

    </header>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
