<header>

            <!-- Mobil-ikon för menyn -->
            <div class="icon-container-mobile" id="menu-icon">
                <!-- Logga -->
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <img class="logo" src="images/logo.png" alt="">
                </NavLink>
                <i @onclick="ToggleNavMenu" class="fa-solid fa-bars fa-lg" id="nav-icon"></i>
            </div>
            
            <!-- Menyn Mobil-->
            <div id="nav" class="some-section @NavMenuCssClass">
                <!-- Navigering -->
                <nav class="nav-mobile">
                    <ul class="nav-list-mobile">
                        <li>
                            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                <i class="fa-solid fa-house"></i> Home
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="tidsbokning">
                                <i class="fa-solid fa-calendar-days"></i> Tidsbokning
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="priser">
                                <i class="fa-solid fa-money-bill"></i> Priser
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="avboka">
                                <i class="fa-solid fa-rectangle-xmark"></i> Avboka
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="omoss">
                                <i class="fa-solid fa-circle-info"></i> Om oss
                            </NavLink>
                        </li>
                    </ul>
                </nav>
            </div>
            
            <!-- Menyn Desktop-->
            <div class="nav-desktop">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <img class="logo" src="images/logo.png" alt="">
                </NavLink>
                <!-- Navigering -->
                <nav class="nav">
                    <ul class="nav-list">
                        <li>
                            <NavLink class="nav-link" href="tidsbokning">
                                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tidsbokning
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="priser">
                                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Priser
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="avboka">
                                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Avboka
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="omoss">
                                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Om oss
                            </NavLink>
                        </li>
                    </ul>
                    <!-- <button>Logga in</button> -->
                </nav>
            </div>
      
        <!-- Header bilden -->
        @* <h2 class="header-title">Startsidan</h2> *@
        <img class="header-img" src="images/header.png" alt="">

    </header>

@code {

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
