@model admininterface.Models.TreatmentTypeModel

@{
    ViewData["Title"] = "Info";
}

<h1>Info</h1>

<div>
    <h4>Info om behandling "@Html.DisplayFor(model => model.Name)"</h4>
    <hr />

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Ändra</a>
    <br>
    <br>
    <a asp-action="Index">Tillbaka till listan</a>
</div>
