@using Microsoft.AspNetCore.Identity
@using admininterface.Models

@{
    ViewData["Title"] = "Radera användare";
}

<h2>Radera</h2>
<hr>
<h3>Är du säker på att du vill radera denna användare?</h3>
<br>
<div>
    <form asp-action="Delete">
        @* <input type="hidden" asp-for="Id" /> *@
        <input type="submit" value="Radera användare" class="btn btn-danger" />
        <br>
        <br>
        <a asp-action="Index">Tillbaka till listan</a>
    </form>
</div>