@using Microsoft.AspNetCore.Identity
@using admininterface.Models

@{
    ViewData["Title"] = "Hantera anv채ndare";
}

<h1>Hantera anv채ndare</h1>
<p>
    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Registrera ny anv채ndare</a>
</p>

<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Anv채ndare</th>
            <th>Hantera</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>
                <td>@user.Email</td>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Radera</a>
            </td>
        </tr>
        }
    </tbody>
</table>
</div>