
    <section class="modal-content">
        <h3 class="modal-title">@Title</h3>
        <p class="modal-message">@Message</p>
        <button class="modal-btn" @onclick="CloseModal">Stäng</button>
    </section>


@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

     private void CloseModal()
    {
        OnClose.InvokeAsync();
    }
}