@page "/"

<PageTitle>Startsidan</PageTitle>

        <section class="info-section">
            <h2>Hudiksvalls djurklinik</h2>
            <p>Vi är en pålitlig och omsorgsfull plats där ditt husdjur får professionell vård. Med erfaret veterinärteam och modern utrustning strävar vi efter att främja djurens välbefinnande och hälsa.</p>
        </section>

        <div class="icon-container">
            <div>
                <a href="/tidsbokning"><img src="images/dogIcon.png" alt="Ikon som representerar en hund"></a>
                <p>Tidsbokning</p>
            </div>
            <div>
                <a href="/priser"><img src="images/caticon.png" alt="Ikon som representerar en katt"></a>
                <p>Priser</p>
            </div>
            <div>
                <a href="/omoss"><img src="images/infoicon.png" alt="Ikon som representerar en infoikon"></a>
                <p>Om oss</p>
            </div>
        </div>

        
        <section class="services-section">

            <article class="text-container">
                <h2>Vi tar hand om ditt djur</h2>
                <p>Vi på Hudiksvalls djurklinik är dedikerade till att erbjuda bästa möjliga vård för ditt älskade djur. Med vår passion för djurens välbefinnande och vårt engagerade team av erfarna veterinärer och sköterskor, kan du vara trygg med att ditt djur får den omsorg och uppmärksamhet det förtjänar.</p>
                <h2>Våra tjänster</h2>
                <ul>
                    <li>Allmän veterinärvård och undersökningar</li>
                    <li>Vaccinationer och förebyggande vård</li>
                    <li>Operationer och kirurgiska ingrepp</li>
                    <li>Dentalvård och tandbehandlingar</li>
                    <li>Nödvård och akuta insatser</li>
                </ul>
            </article>

            <div class="image-container">
                <img src="images/doggo.png" alt="Bild på en hund och ägare" class="services-img">
            </div>
            
        </section>
