@page "/"

<PageTitle>Startsidan</PageTitle>


        <section class="icon-container">
            <div>
                <a href="#"><img src="images/dogIcon.png" alt=""></a>
                <p>Tidsbokning</p>
            </div>
            <div>
                <a href="#"><img src="images/caticon.png" alt=""></a>
                <p>Priser</p>
            </div>
            <div>
                <a href="#"><img src="images/infoicon.png" alt=""></a>
                <p>Om oss</p>
            </div>
        </section>

        <section>
            <h2>Hudiksvalls djurklinik</h2>
            <p>Vi är en pålitlig och omsorgsfull plats där ditt husdjur får professionell vård. Med erfaret veterinärteam och modern utrustning strävar vi efter att främja djurens välbefinnande och hälsa.</p>
        </section>

        <section class="services-section">

            <div class="text-container">
                <h2>Vi tar hand om ditt djur</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <h2>Våra tjänster</h2>
                <ul>
                    <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                    <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                    <li>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                </ul>
            </div>

            <div class="image-container">
                <img src="images/doggo.png" alt="" class="services-img">
            </div>
            
        </section>
