@page "/priser"
@inject HttpClient http

<PageTitle>Priser</PageTitle>

<h2>Priser</h2>

<div>
    <Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="NavItems1"></Breadcrumb>
</div>

<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Behandling</th>
                <th>Pris</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in treatment)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price kr</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {

    private List<Treatment>? treatment;
    private List<BreadcrumbItem> NavItems1 { get; set; }

    protected override async Task OnInitializedAsync()
    {
        treatment = await http.GetFromJsonAsync<List<Treatment>>("http://localhost:5244/api/treatments/with-type");
        
        NavItems1 = new List<BreadcrumbItem>
        {
            new BreadcrumbItem{ Text = "Startsidan", Href ="/" },
            new BreadcrumbItem{ Text = "Priser", IsCurrentPage = true }
        };

    }

    public class Treatment
    {
        public int Id { get; set; }
        public string? Name { get; set; }
        public string? Description { get; set; }
        public TimeSpan? TreatmentType { get; set; }
        public int Price { get; set; }
        public int TreatmentTypeId { get; set; }
        public string TreatmentTypeName { get; set; }
    }
}