body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header -----------------------------> */
.logo {
    width: 70%;
}

.header-img {
    width: 100%;
}

.nav-list {
    display: flex;
    column-gap: 2rem;
    list-style: none;
}

.nav-list-mobile {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav-container {
    justify-content: start;
    display: none;
    padding: 0;
}

.nav-desktop {
    display: none;
}

.icon-container-mobile {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 20%;
}

/* Main -----------------------------> */

.info-section, 
.services-section {
    padding: 2rem;
}

.services-section {
    background-color: #AEC6CF;
}

.icon-container {
    display: flex;
    row-gap: 50%;
    flex-direction: column;
    align-items: center;
    margin: 2% 0 5% 0 ;
}

.icon-container p {
    text-align: center;
}

.image-container {
    display: none;
}

/* Länkar */
.nav-list a {
    text-decoration: none;
}

a:link, 
a:visited {
    color: black;
}

/*Felmeddelanden / bekräftelsemeddelanden*/
.errormsg {
    background-color: rgb(255, 103, 103);
    font-weight: bold;
    color: rgb(161, 0, 0);
    border: solid red 1px;
    border-radius: 0.5rem;
    padding: 0.3rem;
    width: 60%;
    text-align: center;
}

.succmsg {
    background-color: rgb(0, 182, 0);
    font-weight: bold;
    color: rgb(0, 43, 0);
    border: solid green 1px;
    border-radius: 0.5rem;
    padding: 0.3rem;
    width: 60%;
    text-align: center;
}

/*Treatments ----------------------------->*/
.collapse-btn {
    margin-top: 10%;
    width: 100%;
    border: none;
    border-bottom: 1px black solid;
    background-color: transparent;
    text-align: left;
}

.collapse-contents {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: #D9D9D9;
}

.contents-btn {
    background-color: #AEC6CF;
    border: none;
    padding: 3% 9% 3% 9%;
    border-radius: 0.4rem;
    font-size: small;
}

.text-container {
    font-size: small;
}

/*Book  ----------------------------->*/
.booking-text {
    background-color: #D9D9D9;
    padding: 2%;
}

.booking-article {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.book-btn {
    background-color: #AEC6CF;
    border: none;
    margin-top: 3%;
    padding: 3% 9% 3% 9%;
    border-radius: 0.4rem;
    font-size: small;
}

input {
    border: gray solid 1px;
    border-radius: 0.5rem;
}

label {
    text-align: left;
}

.week-container {
    display: flex;
    justify-content: center;
}

.week-container button {
    background-color: transparent;
    border: none;
}

.time-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.date-text {
    margin-top: 5%;
}

.time-btn {
    margin-top: 4%;
    background-color: #AEC6CF;
    border: none;
    padding: 3% 9% 3% 9%;
    border-radius: 0.4rem;
    font-size: medium;
}


/*Prices  ----------------------------->*/
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #9AB0C3;
    color: white;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #a0a0a09a;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #9AB0C3;
}

/*About ----------------------------->*/
.first-article, 
.second-article, 
.third-article {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/*Footer ----------------------------->*/
footer {
    margin-top: auto;
}

/*Modal ----------------------------->*/

.modals {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    width: 90%; 
    padding: 4%;
    border-radius: 1rem 0 1rem 0;
}

.modal-title {
    font-size: medium;
}

.modal-message {
    font-size: small;
    margin: 10% 0 10% 0;
}

.modal-btn {
    border: none;
    background-color: #AEC6CF;
    padding: 3% 0 3% 0;
    width: 50%;
    font-size: small;
    border-radius: 0.4rem;
}


/* Media queries */

/* Surfplatta */
@media screen and (min-width: 426px) and (max-width: 1000px) {
    
    .nav-list {
        display: flex;
        flex-direction: column;
    }

    .icon-container-mobile {
        display: flex;
        column-gap: 60%;
    }

    .logo {
        width: 70%;
    }

    /* main */
    .info-section {
        text-align: center;
    }

    .icon-container {
        flex-direction: row;
        justify-content: center;
        column-gap: 10%;
    }

    /*Treatments*/
    .collapse-contents {
        padding: 2%;
    }

    .contents-btn {
        padding: 1% 4% 1% 4%;
    }

    .text-container, 
    .contents-btn {
        font-size: medium;
    }

    /*Book*/
    .book-btn {
        width: 15%;
        padding: 1% 0 1% 0;
    }

    input {
        width: 30%;
    }

    /*Prices*/
    .table-container {
        display: flex;
        justify-content: center;
    }

    /*About*/
   
    .first-article-img, 
    .second-article-img, 
    .third-article-img {
        width: 50%;
        margin: 0 auto;
    }

    /*Modal*/
    .modal-btn {
        padding: 1% 0 1% 0;
        width: 20%;
    }

    .modal-message {
        margin: 3% 0 3% 0;
    }
}

/* Större skärmar */
@media screen and (min-width: 1000px) and (max-width: 1800px) {

    /* Header */
    .icon-container-mobile, 
    .nav-container, 
    #nav {
        display: none !important;
    }

    .nav-desktop {
        display: flex;
        align-items: center;
        column-gap: 20%;
        margin: 0 auto;
        max-width: 50%;
        /* padding: 1% 0 1% 0; */
    }

    .nav-list {
        column-gap: 0.2rem;
    }

    .header-img {
        margin-top: 0;
    }

    .logo {
        width: 10rem;
    }

    /* Main - startsida */
    body main.main-content {
        margin: 0 auto;
        max-width: 50%;
        overflow-x: auto !important;
    }
    
    section {
        padding: 1%;
        text-align: center;
        border-radius: 1rem 0 1rem 0;
    }
    
    p {
        margin: 0 10% 4% 10%;
    }

    .services-section {
        display: flex;
        flex-direction: column;
        padding: 4%;
        align-items: center;
        text-align: left;
    }

    .image-container {
        display: block;
        margin: 5%;
    }

    .icon-container {
        flex-direction: row;
        justify-content: center;
        column-gap: 5%;
    }

    /*Treatments*/
    .collapse-contents {
        padding: 2%;
    }

    .contents-btn {
        padding: 1% 4% 1% 4%;
        margin-left: 9%;
    }

    /*Book*/

    .book-btn {
        width: 30%;
    }

    .time-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .booking-container {
        width: 120%;
    }

    .column-container {
        display: flex;
        flex-direction: column;
    }

    .time-btn {
        width: 100%;
    }

    /*Prices*/
    .table-container {
        display: flex;
        justify-content: center;
    }

    /*About*/
    .first-article-img{
        width: 60%;
        margin: 0 auto;
    }

    .second-article-img, 
    .third-article-img {
        width: 40%;
        margin: 0 auto;
    }

    /*Modal*/
    .modal-btn {
        padding: 1% 0 1% 0;
        width: 20%;
        font-size: medium;
    }

    .modal-content {
        text-align: left;
    }

    .modal-title {
        font-size: large;
    }

    .modal-message {
        font-size: medium;
    }

    .modal-message {
        margin: 3% 0 3% 0;
    }
     
}

@media screen and (min-width: 1800px) {

    /* Header */
    .icon-container-mobile, 
    .nav-container, 
    #nav {
        display: none !important;
    }

    .logo {
        width: 10rem;
    }

    .nav-desktop {
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 50%;
        column-gap: 35%;
        padding: 0.5% 0 0.5% 0;
    }

    .nav-list {
        column-gap: 0.3rem;
        font-size: large;
    }

    /* Main - startsida */
    .main-content {
        margin: 0 auto;
        max-width: 50%;
    }

    .services-section {
        display: flex;
        padding: 4%;
        align-items: center;
        text-align: left;
    }

    section {
        padding: 1%;
        text-align: center;
        border-radius: 1rem 0 1rem 0;
    }

    .image-container {
        display: block;
    }

    .icon-container {
        flex-direction: row;
        justify-content: center;
        column-gap: 10%;
    }


    /*Treatments*/

    .text-container {
        width: 50%;
    }

    .collapse-contents {
        flex-direction: row;
        padding: 2%;
    }

    .btn-container {
        display: flex;
        width: 42%;
        justify-content: end;
    }

    .btns {
        display: flex;
        width: 60%;
    }

    .contents-btn {
        margin-left: 10%;
        padding: 0% 20% 0% 20%;
        height: 3rem;
    }

    /*Book*/
    input {
        width: 30%;
    }
    
    .book-btn {
        width: 10%;
        padding: 1% 3% 1% 3%;
    }

    .time-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .column-container {
        display: flex;
        flex-direction: column;
    }

    .time-btn {
        width: 100%;
    }

    /*Prices*/
    .styled-table {
        width: 100%;
    }

    /*About*/
    .first-article-img{
        width: 60%;
        margin: 0 auto;
    }

    .second-article-img {
        width: 40%;
        margin: 0 auto;
    }

    .third-article-img {
        width: 30%;
        margin: 0 auto;
    }

    /*Modal*/
    .modal-btn {
        padding: 1% 1% 1% 1%;
        width: 10%;
        font-size: medium;
    }

    .modal-content {
        text-align: left;
    }

    .modal-title {
        font-size: large;
    }

    .modal-message {
        font-size: medium;
    }

    .modal-message {
        margin: 3% 0 3% 0;
    }
}
