body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 200vh;
}

/* Header -----------------------------> */
.logo {
    width: 40%;
}

.header-img {
    width: 100%;
}

.nav-list {
    display: flex;
    column-gap: 2rem;
    list-style: none;
}

.nav-list-mobile {
    display: flex;
    flex-direction: column;
}

.nav-container {
    justify-content: start;
    display: none;
    padding: 0;
}

.nav-desktop {
    display: none;
}

.icon-container-mobile {
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 50%;
}

/* Main -----------------------------> */
section {
    padding: 2%;
    margin-top: 4%;
    margin-bottom: 10%;
}

.services-section {
    background-color: #AEC6CF;
}

.icons {
    background-color: white;
    display: flex;
    row-gap: 40%;
    flex-direction: column;
    align-items: center;
}

.icons p {
    text-align: center;
}

p {
    margin: 0 5% 4% 5%;
}

.image-container {
    display: none;
}

/* Länkar */
.nav-list a {
    text-decoration: none;
}

a:link, 
a:visited {
    color: black;
}

/*Treatments ----------------------------->*/
.collapse-btn {
    margin-top: 10%;
    width: 100%;
    border: none;
    border-bottom: 1px black solid;
    background-color: transparent;
    text-align: left;
}

.collapse-contents {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color: #D9D9D9;
}

.contents-btn {
    background-color: #AEC6CF;
    border: none;
    padding: 3% 9% 3% 9%;
    border-radius: 0.4rem;
    font-size: small;
}

.text-container {
    font-size: small;
}

/*Book*/
.booking-text {
    background-color: #D9D9D9;
    padding: 2%;
}

.booking-article {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.book-btn {
    background-color: #AEC6CF;
    border: none;
    margin-top: 3%;
    padding: 3% 9% 3% 9%;
    border-radius: 0.4rem;
    font-size: small;
}

input {
    border: gray solid 1px;
    border-radius: 0.5rem;
}

label {
    text-align: left;
}

.week-container {
    display: flex;
    justify-content: center;
}

.week-container button {
    background-color: transparent;
    border: none;
}

.time-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.date-text {
    margin-top: 5%;
}

.time-btn {
    margin-top: 4%;
    background-color: #AEC6CF;
    border: none;
    padding: 3% 9% 3% 9%;
    border-radius: 0.4rem;
    font-size: medium;
}

/*Footer ----------------------------->*/
footer {
    background-color: #AEC6CF;
    padding: 1%;
}

/*Modal ----------------------------->*/

.modals {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    width: 90%; 
    padding: 4%;
    border-radius: 1rem 0 1rem 0;
}

.modal-title {
    font-size: medium;
}

.modal-message {
    font-size: small;
    margin: 10% 0 10% 0;
}

.modal-btn {
    border: none;
    background-color: #AEC6CF;
    padding: 3% 0 3% 0;
    width: 50%;
    font-size: small;
    border-radius: 0.4rem;
}


/* Media queries */

/* Surfplatta */
@media screen and (min-width: 426px) and (max-width: 1000px) {
    
    .nav-list {
        display: flex;
        flex-direction: column;
    }

    .icon-container-mobile {
        display: flex;
        column-gap: 65%;
    }

    .logo {
        width: 30%;
    }

    /* Main */
    .icons {
        flex-direction: row;
        justify-content: center;
        column-gap: 10%;
    }

    /*Treatments*/
    .collapse-contents {
        padding: 2%;
    }

    .contents-btn {
        padding: 1% 4% 1% 4%;
    }

    .text-container, 
    .contents-btn {
        font-size: medium;
    }

    /*Book*/
    .book-btn {
        width: 15%;
        padding: 1% 0 1% 0;
    }

    input {
        width: 30%;
    }

    /*Modal*/
    .modal-btn {
        padding: 1% 0 1% 0;
        width: 20%;
    }

    .modal-message {
        margin: 3% 0 3% 0;
    }
}

/* Större skärmar */
@media screen and (min-width: 1000px) and (max-width: 1800px) {

    /* Header */
    .icon-container-mobile, 
    .nav-container, 
    #nav {
        display: none !important;
    }

    .nav-desktop {
        display: flex;
        align-items: center;
        column-gap: 60%;
        padding: 1% 0 1% 0;
        margin: 0 0 0 2%;
    }

    .header-img {
        margin-top: 0;
    }

    .logo {
        width: 10%;
    }

    /* Main - startsida */
    main {
        margin: 0 auto;
        max-width: 50%;
    }
    
    section {
        padding: 1%;
        text-align: center;
        border-radius: 1rem 0 1rem 0;
    }
    
    p {
        margin: 0 10% 4% 10%;
    }

    .services-section {
        display: flex;
        flex-direction: column;
        padding: 4%;
        align-items: center;
        text-align: left;
    }

    .image-container {
        display: block;
        margin: 5%;
    }

    .icons {
        flex-direction: row;
        justify-content: center;
        column-gap: 5%;
    }

    /*Treatments*/
    .collapse-contents {
        padding: 2%;
    }

    .contents-btn {
        padding: 1% 4% 1% 4%;
        margin-left: 9%;
    }

    /*Book*/

    .book-btn {
        width: 30%;
    }

    .time-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .booking-container {
        width: 120%;
    }

    .column-container {
        display: flex;
        flex-direction: column;
    }

    .time-btn {
        width: 100%;
    }

    

    /*Modal*/
    .modal-btn {
        padding: 1% 0 1% 0;
        width: 20%;
        font-size: medium;
    }

    .modal-content {
        text-align: left;
    }

    .modal-title {
        font-size: large;
    }

    .modal-message {
        font-size: medium;
    }

    .modal-message {
        margin: 3% 0 3% 0;
    }
     
}

@media screen and (min-width: 1800px) {

    /* Header */
    .icon-container-mobile, 
    .nav-container, 
    #nav {
        display: none !important;
    }

    .logo {
        width: 10%;
    }

    .nav-desktop {
        display: flex;
        align-items: center;
        column-gap: 60%;
        padding: 1% 0 1% 0;
        margin: 0 0 0 2%;
    }

    /* Main - startsida */
    main {
        margin: 0 auto;
        max-width: 50%;
    }

    .services-section {
        display: flex;
        padding: 4%;
        align-items: center;
        text-align: left;
    }

    section {
        padding: 1%;
        text-align: center;
        border-radius: 1rem 0 1rem 0;
    }

    .image-container {
        display: block;
    }

    .icons {
        flex-direction: row;
        justify-content: center;
        column-gap: 10%;
    }

    .nav-desktop {
        display: flex;
    }

    /*Treatments*/

    .text-container {
        width: 50%;
    }

    .collapse-contents {
        flex-direction: row;
        padding: 2%;
    }

    .btn-container {
        display: flex;
        width: 42%;
        justify-content: end;
    }

    .btns {
        display: flex;
        width: 60%;
    }

    .contents-btn {
        margin-left: 10%;
        padding: 0% 20% 0% 20%;
        height: 3rem;
    }

    /*Book*/
    input {
        width: 30%;
    }
    
    .book-btn {
        width: 10%;
        padding: 1% 3% 1% 3%;
    }

    .time-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .column-container {
        display: flex;
        flex-direction: column;
    }

    .time-btn {
        width: 100%;
    }

    /*Modal*/
    .modal-btn {
        padding: 1% 1% 1% 1%;
        width: 10%;
        font-size: medium;
    }

    .modal-content {
        text-align: left;
    }

    .modal-title {
        font-size: large;
    }

    .modal-message {
        font-size: medium;
    }

    .modal-message {
        margin: 3% 0 3% 0;
    }
}
